<h2>Signup?</h2>

<form action="/signup" method="POST">
<label>Username:&nbsp;&nbsp;&nbsp;</label><input type="string" id="username" name="username"/>
<label>Email:&nbsp;&nbsp;&nbsp;</label><input type="string" id="email" name="email"/>
<label>Password:&nbsp;&nbsp;&nbsp;</label><input type="password" id="password" name="password"/>

<input type="submit" value="Signup">
</form>
